.controlRow {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
  .modalActions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .modalActions .textButton {
    color: #1d1a16;
  }
  
  .modalActions .textButton:hover,
  .modalActions .textButton:active {
    color: #312c1d;
  }
  